<div class="row no-padding no-margin">
    <div class="col-md-12">
        <div class="row" style="margin-top: 20px !important; color: white">
            <div class="col-12">
                <span> <h1>Biểu đồ thống kê chi tiêu</h1> </span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="row" style="text-align: right">
                    <div class="col-md-3"></div>

                    <div class="col-md-9">
                        <form #dashBoardForm="ngForm">
                            <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="searchForm.fromDate" #fromDate="ngModel" id="fromDate" [ngClass]="
                          (fromDate.touched || fromDate.dirty) && fromDate.invalid
                            ? 'err-border'
                            : ''
                        " name="fromDate" pInputText [baseZIndex]="999"></p-calendar>

                            <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="searchForm.toDate" #toDate="ngModel" id="toDate" [ngClass]="
                          (toDate.touched || toDate.dirty) && toDate.invalid
                            ? 'err-border'
                            : ''
                        " name="toDate" pInputText style="margin-left: 10px!important" [baseZIndex]="999"></p-calendar>

                            <button pButton style="margin-left: 10px!important" type="button" label="Tìm kiếm" class="btn-login" (click)="searchDashBoard()"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <div id="chart-pie"></div>
            </div>
            <div class="col-6">
                <div id="chart-line"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div id="chart-column"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px !important; color: white">
            <div class="col-12">
                <span>Sản phẩm được thiết kế và xây dựng bởi NMS</span>
            </div>
        </div>

    </div>
</div>
