#homeComp {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.login-form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: rgb(239, 239, 240);
}

.btn-login {
    height: 40px;
    padding: 15px;
    margin-left: 10px;
    float: right;
}

.login-text {
    font-size: 25px;
    font-weight: bold;
}